.root {
  width: 100%;
  height: 100%;
  min-height: 1030px;
  margin: auto;
}

.errorMessageWrap {
  margin-left: 5px;
  color: red;
}

.auth-logo-icon {
  margin: 20px auto;
  width: 215px;
  height: 90px;
  background-position: 50%;
  background-size: 100%;
  background-image: url(../../../public/assets/image/logo.png);
}

.login_input_box {
  margin: 10px auto;
  width: 500px;
  min-height: 300px;
}

.login_input_box input,
.login_input_box button {
  width: 500px;
  height: 50px;
  border-radius: 8px;
  border-color: #bfbaba5f;
}

.login_button {
  color: #767676;
  font-size: 20px;
  margin-top: 40px;
  background-color: #ffbe98;
}

.login_button:disabled {
  color: #767676;
  font-size: 20px;
  margin-top: 40px;
  background-color: #e0e0e0; /* 비활성화 상태일 때의 배경색 추가 */
  cursor: not-allowed; /* 마우스 커서를 not-allowed로 변경 */
}

.access_options {
  margin: auto;
  width: 500px;
  height: 40px;
}

.access_options ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  padding: 0;
}

.access_options li {
  width: 102px;
  margin: 10px auto;
}

.access_options li:nth-child(2) {
  text-align: center;
}

.social_login_box {
  width: 500px;
  height: 200px;
  margin: 20px auto;
}

.social_login_box button {
  margin: 0;
  padding: 0;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  background: none;
  border: none;
  margin-bottom: 10px;
}

.social_login_image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 버튼 영역을 커버하도록 설정 */
  border-radius: 10px;
}

.login_button_off {
  width: 100%;
  height: 55px;
  border: 1px solid #7676763c;
  border-radius: 10px;

  text-align: center;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button_on {
  width: 100%;
  height: 55px;
  border: 1px solid #76767600;
  border-radius: 10px;

  text-align: center;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffd9c2;
}

/* ===================================================== */
/* join */
.certification_box {
  display: flex;
  flex-direction: row; /* 수정된 부분: 수평으로 나열 */
  align-items: center; /* 추가된 부분: 수직 가운데 정렬 */
}

/* 인증버튼 */
.certification_box button {
  width: 100px;
  margin-top: 0px;
  font-size: 15px;
  margin-left: 5px;
  height: 50px;
  border-radius: 8px;
  border-color: #bfbaba5f;
  border-style: solid;
}

.certification_box input {
  width: 395px;
  padding-left: 10px; /* 왼쪽 여백 설정 */
}

.join_input_box {
  margin: 10px auto;
  width: 500px;
  min-height: 300px;
}

.join_input_box input {
  width: 500px;
  height: 50px;
  border-radius: 8px;
  border-color: #bfbaba5f;
}

.join_input_box .join-Certified-Input-Box input {
  width: 340px;
  height: 50px;
  border-radius: 8px;
  border-color: #bfbaba5f;
}

/* 회원가입 버튼, 취소 버튼 */
.auth-join-bottom {
  width: 350px;
  margin: 40px auto;
  font-size: 15px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 회원가입 진행 버튼 */
.auth-join-button,
.auth-cancel-button {
  border-radius: 8px;
  border-color: #bfbaba5f;
  border-style: solid;
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 회원가입 취소 버튼 */

.join-Certified-Input-Box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card-title {
  text-align: center;
}

.email-certification-btn {
  margin: 50px 0px 0px 30px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  border: 1px solid #76767656;
  border-radius: 8px;
  width: 100px;
  height: 50px;
  font-size: 14px;
}

.join-terms-agreement-box {
  background-color: #767676;
  margin: 10px auto;
  width: 500px;
  min-height: 300px;
}
